{% set django = salt.grains.filter_by({
    'default': {
        'automatic_migrations': False,
        'pkgs': ['git'],
        'deploy_from_git': True,
        'settings_file': 'settings.py',
        'config': {
            'key': 'value',
        },
        'user': 'deploy',
        'requirements_file': 'requirements.txt'
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('django'), base='default') %}
