{% set django = salt.grains.filter_by({
    'default': {
        'pkgs': ['django'],
        'service': 'django',
        'conf_file': '/etc/django/django.conf',
        'config': {
            'key': 'value',
        },
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('django:overrides), base='default') %}
